.projecte {
    overflow: hidden;
    position: relative;
  }
  
  .projecte-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    transition: all 0.4s;
  }
  
  .projecte::after {
    content: '';
    width: calc(100% - 3rem);
    height: calc(100% - 3rem);
    border: 1px solid #fff;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    z-index: 90;
    transition: all 0.3s;
    transform: scale(1.1);
    opacity: 0;
    display: block;
    opacity: 0;
    padding: 3px;
  }
  
  .projecte-content {
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    z-index: 99;
  }
  
  .projecte-content {
    opacity: 0;
    transform: scale(1.3);
    transition: all 0.3s;
  }
  
  .projecte .projecte-overlay {
    background: rgba(0, 0, 0, 0.2);
  }
  
  .projecte:hover img {
    width: 100%;
  }
  
  .projecte:hover::after {
    opacity: 1;
    transform: none;
  }
  
  .projecte:hover .projecte-content {
    color: #fff;
    opacity: 1;
    transform: none;
  }
  
  .projecte:hover .projecte-overlay {
    background: rgba(0, 0, 0, 0.8);
  }
  