@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title{
  display: flex;
  -moz-box-align: center;
  align-items: center;
  text-align: right;
  position: relative;
  margin: 15px 0px 20px;
  width: 100%;
  font-size: clamp(26px,5vw,32px);
  white-space: nowrap;
}

.right-title {
  justify-content: end;
}

.right-title::before {
  content: "";
  display: block;
  width: 350px;
  height: 1px;
  margin-right: 15px;
  background-color: #112240;
}

/* .right-title {
  justify-content: end;
} */

.left-title{
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}
.left-title::after {
  content: "";
  display: block;
  width: 350px;
  height: 1px;
  margin-left: 15px;
  background-color: #112240;
}

@media screen and (max-width: 756px) {
  .title::before {
    width: 100px;
  }
  .right-title::before {
    width: 150px;
  }
  .left-title::after {
    width: 150px;
  }
}

.detail{
  padding: 0px;
  margin: 0px;
  list-style: outside none none;
  font-size: var(--fz-lg);
}

.detail li{
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}
.detail li:first-child{
  margin-top: 10px;
}
.detail li::before{
content: "▹";
position: absolute;
left: 0px;
color: var(--green);
}
